<form
  (submit)="onSubmit($event)"
  class="pt-4 flex flex-col"
  [formGroup]="formGroup"
>
  <app-select
    label="Category"
    [options]="convertToSelectList(categories, 'name')"
  >
  </app-select>
  <app-input-text
    formControlName="partNumber"
    [required]="true"
    [showValidation]="true"
    [errorMessages]="{
      required: 'Part Number is required',
    }"
    placeholder="The part number of the device"
    label="Part number"
  />
  <app-input-text
    formControlName="color"
    [required]="true"
    [showValidation]="true"
    [errorMessages]="{
      required: 'Color is required',
    }"
    placeholder="The color of the device"
    label="Color"
  />
  <div class="flex mt-2 justify-end gap-4 mt-2">
    <div class="flex-1">
      <app-button (clicked)="onCancel()" variant="secondary">Cancel</app-button>
    </div>
    <app-button
      type="submit"
      [disabled]="formGroup.invalid"
      [leadingIcon]="CheckIcon"
      >Confirm</app-button
    >
  </div>
</form>
